<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/tarjimon/templates/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Semantic-UI-CSS-master/semantic.min.css' %}" />
</head>

<body>

    <!-- <canvas id="canvas" width='900' height="800"></canvas> -->

    <!-- <h2>Canvas Path</h2>
    <canvas id="canvas" width='900' height="800"></canvas> -->

    <div class="ui header segment">
        <div class="ui container">
            <h1 class="ui header">Onlayn lug'at</h1>
            <div class="ui divider"></div>
            <p>Tezlik, qulaylik, bepul tarjimon</p>
        </div>
    </div>

    <div class="ui container">
        <div class="ui placeholder segment">
            <div class="ui icon header">
                Inglizcha-O'zbekcha,O'zbekcha va Inglizcha
            </div>
            <div class="inline" style="width: 90%;">
                <div class="ui massive form search">
                    <form method="GET" action="/" class="ui icon input" style="width:100%;">
                        <input name='q' value="{{q}}" type="text" class="prompt" placeholder="So'zni kiriting..." />
                        <i class="search link icon"></i>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui piled segment">
            <h4 class='ui header'>Natija</h4>
            <table class="ui celled large olive table">
                <thead>
                    <tr>
                        <th> <i class="united kingdom flag"></i> Inglizcha</th>
                        <th><i class="uzbekistan flag"></i>O'zbekcha</th>
                    </tr>
                </thead>
                <tbody>
                    {% if natija %}
                    {% for tarjima in natija %}
                    <tr>
                        <td>{{tarjima.inglizcha}}</td>
                        <td>{{tarjima.uzbekcha}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>




    <script src="index.js"></script>
</body>

</html>